iphone/
node_modules/
android/build/
.idea
android/env/
android/dist/sodium.jar
android/documentation/
android/libs/*/liborg.farwayer.ti.sodium.so
android/.classpath
android/.project
android/*.iml
android/build.log
